.env
*.env
!.env.example

# Security reports
security/reports/
trivy-*.json
zap-*.html
zap-*.md
report_*.html
report_*.md

infra/k8s/secrets.yaml

# Python
venv/
__pycache__/
*.pyc

# Chroma
ai-agent/rag/chroma_db/

# Ollama cache
*.bin